body{
    font-family: "Microsoft YaHei",simSun,"Lucida Grande","Lucida Sans Unicode",Arial;
}
/* 头部开始 */
.header{
    /* width: 100%;↓自己尝试用1920宽来做 不然全屏不适用 */
    width: 1920px;
    margin: 0 auto;
    /* 自己尝试↑解决了。 */
    height: 55px;
    /* background-color: pink; */
}

.header-left{
    width: 179px;
    height: 54px;
    background-color: #cf1132;
    float: left;
    font-size: 12px;
    line-height: 54px;
    color: #fff;
}
.header img{
    margin-top: 5px;
}
.header-right{
    width: 138px;
    height: 54px;
    /* background-color: aqua; */
    float: right;
    border-left: 1px solid #dadada;
}
.header-right a{
    font-size: 12px;
    color: #333;
    line-height: 54px;
}
.s1{
    padding-right: 5px;
    font-size: 20px;
}
/* 头部结束 */

/* 导航开始 */
.nav{
    width: 100%;
    height: 60px;
    background: url(../images/1.webp) center top no-repeat;
    /* position: relative;注意：这个注释之后 新闻资讯 展开效果就变了。在下面试粘性定位。 */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 200;
    /* 换了上面这4行，在最后提高层级后，nav粘性固定了，新闻资讯展开也恢复了 */
}

.wrap{
    width: 1180px;
    margin: 0 auto;
}
.nav li{
    float: left;
    width: 84px;
    height: 70px;
    line-height: 60px;
    font-size: 14px;
}
.nav li a{
    color: #fff
}

.active{
    background: url(../images/nav_bg1_d44f09d.webp) 0 0 no-repeat;
    /* 尝试：尝试提高层级 定位得加上才行 */
    z-index: 100;
    position: relative;
}
.nav .active a{
    color: #000;
}

.nav-list{
    width: 100%;
    height: 140px;
    background: url(../images/subnav_bg_5cc9309.webp) center 0 no-repeat;
    position: absolute;
    top: 60px;
    left: 0;
    /* 隐藏 */
    display: none;
    /* 下面banner做完后这个就不显示了，得提高层级。必须得有定位才能用 position: ; */
    z-index: 100;
}
.nav li:hover .nav-list{
    display: block;
}
.nav li:hover{
    background: url(../images/nav_bg1_d44f09d.webp) 0 0 no-repeat;
}

.nav li:hover a{
    color: #000;
}
/* 导航结束 */

/* banner 开始 */
.banner{
    width: 100%;
    height: 784px;
    /* background-color: pink; */
    overflow: hidden;
    /* 上面有缝隙 用相对定位（相对自己） */
    position: relative;
    top: -10px;
}
/* 下载游戏那条动来动去的杠 */
.banner-bottom{
    width: 1180px;
    height: 287px;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.download-wrap{
    width: 145px;
    height: 240px;
    padding-top: 47px;
    background-image: url(../images/2.webp);
    position: relative;
}
.download{
    width: 107px;
    height: 107px;
    margin: 0 auto;
    background-color: red;
}
.download>img{
    width: 100%;
    height: 100%;
}
.download-wrap>img{
    position: absolute;
    top: 45px;
    left: 12px;
    animation: line-ani 3s linear alternate infinite;
}
@keyframes line-ani{
    /* 这里的数值是自己看着设置的 */
    from{
        top: 40px;
        left: 12px;
    }
    to{
        top: 148px;
        left: 12px;
    }
}

/* .banner img{ 后期加东西的时候发现出了问题，再找到问题，解决问题 */
.banner>img{
    position: absolute;
    left: 50%;
    margin-left: -960px;
    /* 用绝对定位，先离左边50%距离，然后回返自己宽度的一半，就居中了 */
    /* ↓提升层级 img就会又盖住logo */
    /* z-index: 10; */
}

.logo{
    width: 77px;
    height: 247px;
    /* background-color: violet; */
    position: absolute;
    /* 143-60=83 */
    top: 83px;
    /* 320+150=470 */
    left: 470px;
    z-index: 10;
}
.logo a{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/200.png) 0 0 no-repeat;
    background-size: 100%;
}
/* banner 结束 */

/* 主体开始 */
.container{
    margin-top: 43px;
    overflow: hidden;
}

/* 主体结束 */

/* 平安世界开始 */
.world{
    width: 100%;
    height: 495px;
    margin-bottom: 70px;
    /* background-color: pink; */
}
.world-title{
    width: 54px;
    height: 145px;
    /* background-color: violet; */
    background-image: url(../images/2.webp);
    background-position: -835px -532px;
}
.world-box{
    width: 100%;
    height: 320px;
    /* background-color: aqua; */
    margin-top: 23px;
    background: url(../images/shishen_bg_000bc91.webp) center 0 no-repeat;
}
.world-img{
    width: 940px;
    height: 320px;
    /* background-color: olive; */
    margin: 0 auto;
    position: relative;
}
.left-a{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    /* background-color: palegreen; */
}
.right-a{
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    /* background-color: violet; */
}

.left-a img{
    position: relative;
    left: -140px;
    top: -186px;
}
.right-a img{
    position: absolute;
    top: -186px;
    right: -140px;

}
/* 平安世界结束 */