body{
    font:14px/1.5 Helvetica,Tahoma,Arial;
}
/* banner样式 开始 */
.banner{
    width: 100%;
    height: 670px;
    background-color: skyblue;

    /* 设置背景图片 */
    background: url(../images/2.jpg) center no-repeat;
}
/* banner样式 结束 */

/* 导航开始 */
.nav{
    width: 788px;
    height: 82px;
    /* background-color: skyblue; */
    /* ul居中 */
    margin: 0 auto;    
}

.nav li{
    float: left;
    /* 调内边距 */
    padding: 31px 20px 30px;
}
.nav li a{
    color: #333;
}
/* 导航结束 */

/* 因为整个页面好多地方都要居中，而且居中的div宽度都是一样的。
所以专门写一个居中的样式，只设置 宽度 和 居中，不能设置高度 */
/* 但凡有一个div标签想要居中 就取个class名字叫 wrap */
.wrap{
    width: 1240px;
    margin: 0 auto;
}

/* 广告位开始 */
.ad{
    width: 100%;
    height: 278px;
    /* margin-bottom: 50px; */
    /* background-color: aqua; */
}

.ad-box{
    height: 100%;
    /* background-color: violet; */
}

.ad-box div{
    width: 310px;
    height: 187px;
    padding-top: 45px;
    /* background-color: palegreen; */
    float: left;
}

.ad-box img{
    width: 130px;
    
}

.ad-box .name{
    color: #333;
    font-size: 20px;
    font-weight: 400px;
}
.ad-box .desc{
    color: #999;
    font-size: 14px;
}
/* 广告位结束 */

/* 主体部分开始 */
.container{
    width: 100%;
    background-color: rgb(244,244,244);
}
/* 手机开始 */
.phone{
    width: 100%;   
}
.title{
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 400;
    padding-top: 50px;
}
.phone-imag{
    width: 100%;
    /* height: 449px; */
    height: 680px;
    background-color: violet;
    background: url(../images/3.jpg) center no-repeat;
}
.phone-box{
    height: 1005px;
    /* background-color: skyblue; */
}
.phone .top{
    width: 100%;
    /* 这里的高度问题需要注意，因为要考虑到上边距的距离，所以是本体610+上边距10=620 */
    height: 620px;
    /* background-color: blue; */
}
.top-left{
    width: 615px;
    height: 610px;
    margin-top: 10px;
    margin-right: 9px;
    /* background-color: tomato; */
    background-color: #fff;
    float: left;
}
.top-right{ 
    width: 615px;
    height: 610px;
    margin-top: 10px;
    /* background-color: #acb; */
    background-color: #fff;
    float: left;
}

.bottom{
    width: 100%;
    height: 385px;
    /* background-color: yellowgreen; */
}
.bottom>div{
    width: 303px;
    height: 375px;
    margin-top: 10px;
    margin-right: 9px;
    /* background-color: plum; */
    background-color: #fff;
    float: left;
}
.bottom>div:last-child{
    margin-right: 0;
}

.top img{
    width: 460px;
    height: 460px;
}
.top .name{
    color: #333;
    font-size: 28px;
    margin-top: 50px;
}
.top .desc{
    color: #333;
    font-size: 18px;
    margin-bottom: 3px;
}
.top .price{
    color: #c00;
    font-size: 22px;
}
.top .s1{
    font-size: 14px;
}
.top .s2{
    font-size: 16px;
}
.top del{
    font-size: 14px;
    color: #666;
    margin-left: 8px;
}

.bottom img{
    width: 230px;
    height: 230px;
    margin-top: 30px;
}
.bottom .name{
    color: #333;
    font-size: 16px;
    margin-bottom: 2px;
    margin-top: 3px;
}
.bottom .desc{
    color: #999;
    font-size: 14px;
}
.bottom .price{
    color: #c00;
    font-size: 22px;
}
.bottom .price .s1{
    font-size: 14px;
}
.bottom .price .s2{
    font-size: 16px;
}
.bottom del{
    font-size: 14px;
    color: #666;
    margin-left: 8px;
}
/* 手机结束 */

/* 主体部分结束 */
